/* style.css */
body {
    background-color: #fdf6e3;
}

canvas {
    margin: 0 auto 0 auto;
    border: 5px solid #212529;
    display: block;
}

h1 {
    text-align: center;
    color: #212529;
}

ul {
    padding: 0;
    list-style-type: none;
}

#game-selector {
    border-width: 0.2em;
    border-color: #212529;
}

#games-container {
    margin: 0 0 auto;
    display: block;
    text-align: center;
    margin-top: 1em;
}

#key-mapping-container {
    margin: 0 0 auto;
    display: block;
    text-align: center;
    margin-top: 1em;
}
