body {
    background-color: rgb(38, 38, 38);
}

canvas {
    border: 1px solid #00FF00;
    margin: 50px auto 0 auto;
    width: 640px;
    height: 320px;
    display: block;
}

#games-container {
    margin: 0 0 auto;
    display: block;
    text-align: center;
    margin-top: 2em;
}

#game-selector {
  font-family: 'courier new';
  color: #00FF00;
  background-color: #262626;
  font-size: 2em;
  border-color: #00FF00;
  border-style: solid;
  margin-right: 0.25em;
}

#game-reload {
  font-family: 'courier new';
  color: #00FF00;
  background-color: #262626;
  font-size: 2em;
  border-color: #00FF00;
  border-style: solid;
  border-radius: 0.125em;
  margin-left: 0.25em;
}

#key-mapping-container {
    text-align: center;
}

h3 {
    color: #00FF00;
    font-family: courier new;
    font-size: 2em;
    font-weight: normal;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    color: #00FF00;
    font-family: courier new;
    font-size: 1.5em;
}
