<html>
  <head>
    <title>Chip-8</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="chip8.js"></script>
    <script type="text/javascript" src="interface.js"></script>
  </head>
  <body>
    <canvas id="visible-canvas" width="640" height="320"></canvas>
    <div id="games-container">
        <select id="game-selector"></select>
        <button id="reload">Reload</button>
    </div>
  </body>
</html>
