body {
    background-color: rgb(38, 38, 38);
}

canvas {
    border: 1px solid #00FF00;
    margin: 50px auto 0 auto;
    width: 640px;
    height: 320px;
    display: block;
}

#games-container {
    margin: 0 0 auto;
    display: block;
    text-align: center;
    margin-top: 2em;
}

#key-mapping-container {
    text-align: center;
}

h3 {
    color: #00FF00;
    font-family: courier new;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    color: #00FF00;
    font-family: courier new;
}